body {
  font-family: 'Roboto', sans-serif;
}

.content {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 90px;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

pre {
  font-family: 'Roboto Mono', monospace;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 2px;
  overflow-y: scroll;
}

/** Components **/
.link-tags {
  float: right;
  padding-right: 16px;
}

.query-container .query-input {
  float: left;
  width: 45%;
  padding-right: 20px;
}

.query-container .query-display {
  float: right;
  width: 45%;
}

/** Responsive **/
@media (max-width: 720px) {
  .query-container h1,
  .links-container h1 {
    text-align: center;
  }

  .query-container .query-input,
  .query-container .query-display {
    width: 100%;
    float: none;
  }

  .query-container .query-input {
    margin-bottom: 20px;
  }

  .query-container .query-buttons {
    margin-top: 10px;
  }

  .links-container {
    margin-top: 40px;
  }

  .links-container .links {
    margin-top: 40px;
  }
}
